<%=  link_to 'Back', members_items_path %>


<ul class="list-group">
  <li class="list-group-item">Name: <%= @item.name %></li>
  <li class="list-group-item">Description: <%= @item.description %></li>
  <li class="list-group-item">Starting Time: <%= @item.starting_time.to_s %></li>
  <li class="list-group-item">Ending Time: <%= @item.ending_time.to_s %></li>
  <li class="list-group-item">Bid Unit: <%= @item.bid_unit.to_s %></li>
  <li class="list-group-item">Current Bid: <%= @item.price.to_s %></li>
</ul>

<div class="btn-group btn-group-lg"><%=  link_to 'Bid', members_item_bid_path(@item), :confirm => "You are placing a bid of #{@item.next_bid.to_s} credit points. Are you sure?", :class => "btn btn-default" %></div>